body{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 2% 3%;
    padding: 3% 5%;
}

form{
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 5% 3%;
    padding: 3% 2%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;

}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;

}

#cont{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 234, 237);
    width: 400px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 20px;
    margin-left: 450px;
    border-radius: 25px;
    gap: 7px;
    height: 80%;
    text-align: center;
    

}
.cont1{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    display: flex;
   
}

i{
    margin-right: 10px;
    font-size: 1.5rem;
}



input{
    
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 85px;
    height: 40px;
    gap: 15px;
   /* align-items: center;
    justify-content: center;*/
}

.form-check{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
}

button{
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}